/* Default CSS */

body {
	padding: 0;
	margin: 0;
	font-size: 80%;
}

#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #FFFFFF;
	height: 40px;
	text-align: center;
	padding-top: 15px;
	/*Adds shadow to the bottom of the bar*/
	-webkit-box-shadow: 0px 0px 2px 4px #000000;
	-moz-box-shadow: 0px 0px 2px 4px #000000;
	box-shadow: 0px 0px 2px 4px #000000;
	/*Adds the transparent background*/
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
	z-index: 1;
}

#navigation a {
	font-size: 18px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#navigation a:hover {
	color: gray;
}

#content, #login {
	overflow: auto;
	/*Adds shadow to the bottom of the bar*/
	-webkit-box-shadow: 0px 0px 2px 4px #000000;
	-moz-box-shadow: 0px 0px 2px 4px #000000;
	box-shadow: 0px 0px 2px 4px #000000;
	/*Adds the transparent background*/
	background-color: grey;
}

#login {
	width: 50%;
	height: 50%;
	margin: 25%;
	margin-top: 0;
	padding-top: 0;
	position: fixed;
	top: 8.5em;
	z-index: 0;
	/*rounded border*/
	border: 1px solid;
	border-radius: 50px;
	-moz-border-radius: 50px; /* Old Firefox */
}

#content {
	width: 90%;
	height: 75%;
	margin: 5%;
	margin-top: 0;
	margin-bottom: 30%;
	padding-top: 5em;
	position: fixed;
	top: 7em;
	z-index: 0;
	/*rounded border*/
	border: 2px solid;
	border-radius: 15px;
	-moz-border-radius: 15px; /* Old Firefox */
}

.socialCircleTitle {
	padding: 1em;
	position: fixed;
	top: 2.5em;
	left: 3em;
	z-index: 2;
}

#socialCircleTitleLogin {
	padding: 0.5em;
	position: fixed;
	top: 5em;
	margin-left: 27%;
	margin-right: 27%;
	z-index: 2;
}

.center {
	width: 100%;
}

form.loginForm {
	margin: 0;
	padding: 0;
	padding-right: 3em;
	margin-top: 5em;
	margin-left: 8em;
	z-index: 10;
	border-right: 1px solid white;
}

form div {
	padding: 0 0 0.8em 0;
}

form label {
	font-weight: bold;
	font-size: 1.23em;
	display: block;
}

#loginValidation {
	font-weight: bold;
	color: #950000;
	font-size: 0.9em;
	display: block;
}

input.button, button.button {
	padding: 0.5em 1em 0.5em 1em;
	font-weight: bold;
	display: block;
}

fieldset {
	margin: 3em;
	padding: 2em;
	display: inline-block;
}

legend {
	font-weight: bold;
	color: #900000;
}

input {
	margin: 0 1em 1em 0;
}

#signupSection, #loginSection {
	display: inline-block;
}

#signupSection, #loginSection {
	position: relative;
	top: 2em;
}

#signupSection {
	margin: 0 0 0 4em;
	position: relative;
	top: 0em;
}

.signupButton {
	color: white;
	font-size: 1.3em;
	padding: 1em 2em 1em 2em;
	font-weight: bold;
	background-color: green;
}

button.signupButton:hover {
	color: black;
	border-color: black;
}

.signupForm {
	margin: 0;
	padding: 0;
	position: relative;
	top: 10em;
	left: 4em;
}

.logoutButton {
	font-size: 0.8em;
	padding: 0.3em 0.55em 0.3em 0.55em;
	background-color: #950000;
	color: black;
	font-weight: bold;
	position: fixed;
	left: 90%;
	top: -0.6;
	border-color: black;
}

#deleteAccountButton {
	font-size: 1.2em;
	padding: 0.5em 1em 0.5em 1em;
	background-color: #850000;
	color: black;
	font-weight: bold;
	border-color: black;
	position: relative;
	bottom: 0;
	left: 2em;
}

button.logoutButton:hover {
	border-color: white;
	color: white;
}

#signupMessage {
	font-size: 1.2em;
	color: #A00000;
	font-weight: normal;
	position: relative;
	top: 6.5em;
	left: 2em;
}
